.profileWrapper {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: 0 auto 0;
  padding: 1rem 0;
}

.imageWrapper {
  width: 33%;
}

.imageWrapper img {
  max-width: 100%;
  height: auto;
  object-fit: contain;
  border-radius: 50%;
}

.textWrapper {
  width: 62%;
  text-align: left;
}

.textWrapper li {
  font-size: 20px;
  margin-bottom: 0.5rem;
}

@media screen and (max-width: 640px) {
  .profileWrapper {
    display: flex;
    flex-direction: column;
    padding: 0;
    align-items: center;
  }

  .imageWrapper {
    margin-bottom: 2rem;
  }

  .textWrapper {
    width: 100%;
    margin-bottom: 3rem;
  }

  .textWrapper ul {
    list-style: none;
  }

  .textWrapper ul li {
    line-height: 1.6;
    font-size: 1em;
  }
}
