.card {
  flex-basis: 100%;
  // background: rgb(75, 75, 75);
  border: 1px solid white;
  border-radius: 0.25rem;
  margin-bottom: 2rem;
}

.cardTitle {
  font-size: 26px;
  padding: 1rem;
}

.skillDesc {
  text-align: center;
}

.table {
  table-layout: fixed;
  font-size: 20px;
  border-collapse: collapse;
  margin: 0 auto;
  width: 80%;
  margin-bottom: 2rem;
}

.table td {
  border-bottom: 1px dashed #999;
}

.table th {
  border-bottom: 2px solid white;
}

.table tr:last-child td {
  border: none;
}

.table td,
.table th {
  padding: 10px;
}
