.pcNavigation {
  text-align: center;
  width: 100%;
}

.header {
  width: 100%;
  height: 4rem;
  position: fixed;
  top: 0;
  left: 0;
  background: black;
  display: flex;
  align-items: center;
  z-index: 1;
}

.header .box1 {
  width: 50px;
  margin-left: 1rem;
  position: relative;
}

.header .box1 a img {
  width: 100%;
  position: absolute;
  object-fit: contain;
  border-radius: 50%;
  border: 1px solid white;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto; /*上下左右中央に*/
  width: 50px; /*widthの指定は必須*/
  height: 50px;
}

.pcNavigation ul {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 1.5rem;
  text-transform: uppercase;
  margin: auto;
  list-style: none;
}

.pcNavigation ul li a {
  transition: color 0.3s;
}

.pcNavigation ul li a:hover {
  color: #00ff00;
}

.spNavigation {
  display: none;
}

@media screen and (max-width: 640px) {
  .pcNavigation {
    display: none;
  }

  .hamburger {
    position: relative;
    display: block;
    width: 30px;
    height: 25px;
    margin: 0 1rem 0 auto;
  }

  .hamburger span {
    position: absolute;
    top: 50%;
    left: 0;
    display: block;
    width: 100%;
    height: 2px;
    background-color: #fff;
    transform: translateY(-50%);
  }

  .hamburger::before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #fff;
  }

  .hamburger::after {
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #fff;
  }

  .spNavigation {
    z-index: 1;
    position: fixed;
    font-size: 24px;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: block;
    width: 100%;
    background: rgba(0, 0, 0, 0.8);
    transition: all 0.2s ease-in-out;
    opacity: 1;
    transform: translateY(0);
  }

  .toggle {
    transform: translateY(0);
    opacity: 1;
  }

  .spNavigation ul {
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    list-style: none;
  }
  .spNavigation li {
    margin: 0;
    padding: 0;
  }
  .spNavigation li span {
    font-size: 15px;
    color: #fff;
  }
  .spNavigation li a,
  .spNavigation li span {
    display: block;
    padding: 20px 0;
  }
  .spNavigation .close {
    position: relative;
    padding-left: 20px;
  }
  /*バツ印線1*/
  .spNavigation .close::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    display: block;
    width: 16px;
    height: 1px;
    background: #fff;
    transform: rotate(45deg);
  }
  /*バツ印線2*/
  .spNavigation .close::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    display: block;
    width: 16px;
    height: 1px;
    background: #fff;
    transform: rotate(-45deg);
  }
}
